body {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: #00051A;
    background-color: #AC9C80;
  }

  .heading {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: #132555;
  }

  .level {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: #132555;
  }

  .logo {
    text-align: left;
    width: 223px;
    height: 108px;
  }


